body
            {
                background-color: rgb(248, 244, 244);
                font-family: cursive;
            }
        .box
        {
            border :1px solid white;
            background-color: white;
            margin-left:30%;
            margin-top:1%;
            width:570px;
            height:500px;
            box-shadow: 5px 5px 5px 5px rgb(205, 205, 240);
            padding:3px;
        }
        .heading
        {
            width:100%;
            background-color:  rgba(6, 6, 228, 0.658);
            color: whitesmoke;
            text-align: center;
            padding:2px;
          
           
        }
        .signup
        {
            border: 1px solid  rgba(6, 6, 228, 0.658);
            text-align: center;
            width:60%;
            color:whitesmoke;
            background-color: rgba(6, 6, 228, 0.658);
            border-radius: 4px;
            margin:3px;
            padding:5px;
            margin-left:20%;
        }
        .signup:hover
        {
            
            color: rgba(6, 6, 228, 0.658);
            background-color:whitesmoke;
            box-shadow: 2px 2px rgba(193, 193, 230, 0.658);
        }
        .header
        {
            padding:10px;
            color:whitesmoke;
            background-color:rgba(6, 6, 228, 0.658);
        }
  
        .inputs
        {
            border:1px solid rgb(228, 225, 225);
            width:45%;
            border-radius: 5px;
            padding:10px;
            margin:2%;
        }
        .inputs:hover
        {
            box-shadow: 5px 2px 5px 2px #888888;
        }
        .p1
        {
            text-align:center;
            color:#888888; 
            padding:2px;
            margin-top:2%;
        }
        .login
        {
            border: 1px solid  rgba(6, 6, 228, 0.658);
            text-align: center;
            width:60%;
            color:whitesmoke;
            background-color: rgba(6, 6, 228, 0.658);
            border-radius: 4px;
            margin:4px;
            padding:5px;
            margin-left:20%;
            
        }
        .login:hover
        {
            
            color: rgba(6, 6, 228, 0.658);
            background-color:whitesmoke;
            box-shadow: 2px 2px rgba(193, 193, 230, 0.658);
            text-decoration: none;
        }
        @media only screen and (max-width: 600px)
        {
            body
            {
                background-color: rgb(248, 244, 244);
                font-family: cursive;
            }
        .box
        {
            border :1px solid white;
            background-color: white;
            margin-left:30%;
            margin-top:1%;
            width:570px;
            height:500px;
            box-shadow: 5px 5px 5px 5px rgb(205, 205, 240);
            padding:3px;
        }
        .heading
        {
            width:100%;
            background-color:  rgba(228, 6, 91, 0.658);
            color: whitesmoke;
            text-align: center;
            padding:2px;
          
           
        }
        .signup
        {
            border: 1px solid   rgba(228, 6, 91, 0.658);
            text-align: center;
            width:60%;
            color:whitesmoke;
            background-color:  rgba(228, 6, 91, 0.658);
            border-radius: 4px;
            margin:5px;
            padding:5px;
            margin-left:20%;
        }
        .signup:hover
        {
            
            color:  rgba(228, 6, 91, 0.658);
            background-color:whitesmoke;
            box-shadow: 2px 2px rgba(193, 193, 230, 0.658);
        }
        .header
        {
            padding:10px;
            color:whitesmoke;
            background-color: rgba(228, 6, 91, 0.658);
        }
  
        .inputs
        {
            border:1px solid rgb(228, 225, 225);
            width:45%;
            border-radius: 5px;
            padding:10px;
            margin:2%;
        }
        .inputs:hover
        {
            box-shadow: 5px 2px 5px 2px #888888;
        }
        .p1
        {
            text-align:center;
            color:#888888; 
            padding:2px;
            margin-top:2%;
        }
        .login
        {
            border: 1px solid  rgba(228, 6, 91, 0.658);
            text-align: center;
            width:60%;
            color:whitesmoke;
            background-color:  rgba(228, 6, 91, 0.658);
            border-radius: 4px;
            margin:4px;
            padding:5px;
            margin-left:20%;
            
        }
        .login:hover
        {
            
            color: rgba(228, 6, 91, 0.658);
            background-color:whitesmoke;
            box-shadow: 2px 2px rgba(193, 193, 230, 0.658);
            text-decoration: none;
        }
        
        }